extends base.pug
block title 
    title index
block content
    h3 Информация о проекте:
    #proj-info
    p Проект предназначен для представления информации о стоимости типовых квартир на рынке вторичной недвижимости в городе Санкт-Петербург
    section
        h3 Наш стек технологий:
        ul
            li html5
            li CSS3
            li JavaScript
            li Python
            li Pytorch
            li TensorFlow
            li Sklearn

block footer 
    #loadTime
    p
